<h2>Report e Statistiche</h2>

<ul>
    <li><a asp-controller="Report" asp-action="TotaleVerbaliPerTrasgressore">Totale verbali per trasgressore</a></li>
    <li><a asp-controller="Report" asp-action="TotalePuntiDecurtati">Totale punti decurtati per trasgressore</a></li>
    <li><a asp-controller="Report" asp-action="ViolazioniGravi">Violazioni con più di 10 punti decurtati</a></li>
    <li><a asp-controller="Report" asp-action="ViolazioniCostose">Violazioni con importo maggiore di 400€</a></li>
</ul>

