@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Anagrafica" asp-action="Index" class="btn btn-primary">Vai alla gestione Anagrafica</a>
    <a asp-controller="Report" asp-action="Index" class="btn btn-info">Vai ai Report</a>
    <a asp-controller="Verbale" asp-action="Create" class="btn btn-primary">Compila un Nuovo Verbale</a>



</div>
